/*サイト全体の*/

body {
    text-align: center;
    background-color: #000000;
    vertical-align: center;
}

.contents{
    max-width:790px;
    margin:50px auto 150px;
    background-color: #ffffff;
}

/* nav */
.navbar{
  background-color:#263147;
  color:#ffffff;
}

.nav-container{
  height:50px;
}

.bottomnav {
  width:100%;
  height:50px;
  margin:0 auto;
}

.bottomnav li{
  display: inline-block;
  _display: inline;
  width:30%;
}
.bottomnav li a i{
  line-height:120%;
  font-size:20px;
}

.bottomnav li a p {
  font-size:10px;
}

/*LIST*/
.hintList {
  width:100%;
  height:80px;
  padding:10px;
  text-align:left;
  border-bottom:solid 1px #aaaaaa;
  font-weight:bold;
}

.hintTitle{
  margin-left:70px;
  color:#000000;
}

.hintContents {
  margin-left:70px;
  font-size:14px;
  line-height:110%;
  color:#AAAAAA;
}

.listImg {
  float:left;
  height:50px;
}

/*Modal*/
.modal {
  overflow-y: auto;
  max-height: 90%;
}

.aboutModalImg{
  width:100%;
  max-width:200px;
}

#answerAd{
  position:fixed;
  left:0;
}

#answer{
  padding-top:250px;
}
