/*サイト全体の*/

body {
    text-align: center;
    background-color: #555555;
    vertical-align: center;
}

.container-fluid{
    margin: 60px auto 10px;
}

.contents{
    max-width : 790px;
    width: 95%;
    margin: 10px auto;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 10px;
}
